<div class="d-flex justify-content-center">
  <%= link_to 'no', flat_viewings_path(flat, viewing: {like: false}), method: :post, remote: true, class: "btn-danger btn like-btn btn-lg rounded", "data-flat-id" => flat.id %>
  <%= link_to 'yes', flat_viewings_path(flat, viewing: {like: true}), method: :post, remote: true, class: "btn-success btn like-btn btn-lg rounded", "data-flat-id" => flat.id %>
</div>
