<div class=" container d-flex align-content-center vh-75 uk-border-rounded" id="flats_partial_show" >
  <% @flats.each_with_index do |flat, index| %>
    <%= render 'viewings/flats_list', flat: flat, index: index %>
  <% end %>
</div>
