<body>
  <section class="home-banner-area relative">
    <div class="container">
      <div class="row fullscreen d-flex align-items-center justify-content-center" style="height: 959px;">
        <div class="banner-content col-lg-8 col-md-12">
          <h1 class="wow fadeIn" data-wow-duration="4s" style="visibility: visible; animation-duration: 4s; animation-name: fadeIn;">Flinder. <br></h1>
          <h3>Find and Match your home</h3>
        </div>
      </div>
    </div>
  </section>
