<div class="top-wrap uk-position-relative uk-light uk-background-secondary">

      <div class="uk-cover-container uk-light uk-flex uk-flex-middle top-wrap-height">

        <!-- TOP CONTAINER -->
        <div class="uk-container uk-flex-auto top-container uk-position-relative uk-margin-medium-top" data-uk-parallax="y: 0,50; easing:0; opacity:0.2">
          <div class="uk-width-1-2@s" data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150">
            <h6 class="uk-text-primary uk-margin-small-bottom">Match & Find your home</h6>
            <h1 class="uk-margin-remove-top">Flinder.</h1>
            <p class="subtitle-text uk-visible@s">Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco </p>
            <% if current_user %>
            <a href="users/<%=current_user.id%>" title="Learn More" class="uk-button uk-border-pill uk-button-danger"  data-uk-scrollspy-class="uk-animation-fade">Get Started</a>
            <% else %>
            <a href="users/sign_up" title="Learn More" class="uk-button uk-border-pill uk-button-danger"  data-uk-scrollspy-class="uk-animation-fade">Get Started</a>
            <% end %>
          </div>
        </div>
        <!-- /TOP CONTAINER -->
        <!-- TOP IMAGE -->
        <img src="https://images.unsplash.com/photo-1518279811417-628fc0e69709?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="" data-uk-cover data-uk-img data-uk-parallax="opacity: 0.8,0; easing:0">
        <!-- <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://picsum.photos/640/700/?image=816 640w,
        https://picsum.photos/960/700/?image=816 960w,
        https://picsum.photos/1200/900/?image=816 1200w,
        https://picsum.photos/2000/1000/?image=816 2000w"
        data-sizes="100vw"
        data-src="https://picsum.photos/1200/900/?image=816" alt="" data-uk-cover data-uk-img data-uk-parallax="opacity: 1,0.1; easing:0"
        > -->
        <!-- /TOP IMAGE -->
      </div>
      <div class="uk-position-bottom-center uk-position-medium uk-position-z-index uk-text-center">
        <a href="#content" data-uk-scroll="duration: 500" data-uk-icon="icon: arrow-down; ratio: 2"></a>
      </div>
    </div>
    <!-- /TOP -->
    <section id="content" class="uk-section uk-section-default">
      <div class="uk-container">
        <div class="uk-section uk-section-small uk-padding-remove-top">
          <ul class="uk-subnav uk-subnav-pill uk-flex uk-flex-center" data-uk-switcher="connect: .uk-switcher; animation: uk-animation-fade">
            <li><a class="uk-border-pill" href="#">Problem</a></li>
            <li><a class="uk-border-pill" href="#">Home Swapping</a></li>
          </ul>
        </div>

        <ul class="uk-switcher uk-margin">
          <li>
            <div class="uk-grid uk-child-width-1-2@l uk-flex-middle" data-uk-grid data-uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium">
              <div>
                <img src="" alt="" data-uk-img>
              </div>
              <div data-uk-scrollspy-class="uk-animation-slide-right-medium">
                <h6 class="uk-text-primary">Challenge</h6>
                <h2 class="uk-margin-small-top">Tired of....</h2>
                <p class="subtitle-text">Everybody of you have experience with looking for accommodation in Berlin or somewhere else. Most of the time you and spend time like this.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="uk-grid uk-child-width-1-2@l uk-flex-middle" data-uk-grid data-uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium">
              <div>
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/marketing-8.svg" alt="" data-uk-img>
              </div>
              <div data-uk-scrollspy-class="uk-animation-slide-right-medium">
                <h6 class="uk-text-primary">MAIN REASONS</h6>
                <h2 class="uk-margin-small-top">Flinder is the first swapping...</h2>
                <p class="subtitle-text">
                  But ever thought about swapping your accommodation? That's your biggest asset you can have finding your new home! Maybe there is somebody out there loving to have your accommodation and might  have the accommodation you're looking for? There where some former approaches just on craiglist or ebay kleinanzeigen - poorly implemented
                  This is where Flinder comes in!
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="uk-cover-container overlay-wrap ">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1535801311138-0962d8d405f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);">
    <section class="uk-section uk-section-default">

      <div class="uk-container uk-container-xsmall uk-text-center uk-section uk-padding-remove-top">
        <h5 class="uk-text-primary">How it works</h5>
        <h2 class="uk-margin-remove uk-h1">You like my flat, I like your flat...Let's swap!</h2>
      </div>
      <div class="uk-container">
        <div class="uk-grid uk-grid-large uk-child-width-1-3@m" data-uk-grid data-uk-scrollspy="target: > div; delay: 150; cls: uk-animation-slide-bottom-medium">
          <div class="uk-text-center">
            <span style="color: Dodgerblue;">
            <i class="far fa-edit fa-4x"></i>
            <h4 class="uk-margin-small-bottom uk-margin-top uk-margin-remove-adjacent">Step1: You and your flat</h4>
            </span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="uk-text-center">
            <span style="color: Dodgerblue;">
            <i class="fas fa-stream fa-4x"></i>
            <h4 class="uk-margin-small-bottom uk-margin-top uk-margin-remove-adjacent">Step 2: Your preferences</h4>
            </span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="uk-text-center">
            <span style="color: Dodgerblue;">
            <<i class="fas fa-magic fa-4x"></i>
            </span>
            <h4 class="uk-margin-small-bottom uk-margin-top uk-margin-remove-adjacent">Step 3: Browse</h4>
            <p>Lorem ipsum dolor sit amet, co
            nsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="uk-text-center">
            <span style="color: Dodgerblue;">
            <i class="fas fa-retweet fa-4x"></i>
            <h4 class="uk-margin-small-bottom uk-margin-top uk-margin-remove-adjacent">Step 4: The Flinder Moment</h4>
            </span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </section>
      <div class="uk-container uk-position-z-index uk-position-relative uk-section uk-section-xlarge uk-light">
        <div class="uk-grid uk-flex-right">

          <div class="uk-width-2-5@m" data-uk-parallax="y: 50,-50; easing: 0; media:@l">
            <h6>TESTIMONIALS</h6>
            <div class="uk-position-relative uk-visible-toggle uk-light" data-uk-slider="easing: cubic-bezier(.16,.75,.47,1)">
              <ul class="uk-slider-items uk-child-width-1-1">
                <li>
                  <div data-uk-slider-parallax="opacity: 0.2,1,0.2">
                    <h2 class="uk-margin-small-top">"Flinder's just great. No stress when looking for an apartment. No brokers. No queues."</h2>
                    <p class="uk-text-meta">Lorena Smith, Berlin</p>
                  </div>
                </li>
                <li>
                  <div data-uk-slider-parallax="opacity: 0.2,1,0.2">
                    <h2 class="uk-margin-small-top">"I never thought about an apartment swap. Flinder finished my months of searching for an apartment within a week. I love Flinder."</h2>
                    <p class="uk-text-meta">Peter Parker, New York</p>
                  </div>
                </li>
                <li>
                  <div data-uk-slider-parallax="opacity: 0.2,1,0.2">
                    <h2 class="uk-margin-small-top">"Just impressive. 5000 apartments in Berlin alone for an apartment exchange. That really convinced me."</h2>
                    <p class="uk-text-meta">Joseph Mueller, Berlin</p>
                  </div>
                </li>
              </ul>
              <ul class="uk-slider-nav uk-dotnav uk-margin-top"><li></li></ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- BOTTOM -->

    <!-- BOTTOM -->
    <!-- LOGOS -->

    <!-- /LOGOS -->
    <!-- FOOTER -->
    <footer class="uk-section uk-section-secondary uk-padding-remove-bottom">
      <div class="uk-text-center uk-padding uk-padding-remove-horizontal">
        <span class="uk-text-small uk-text-muted">© 2019 Created by Flinder Team @ LeWagon</span>
      </div>
    </footer>
    <!-- /FOOTER -->
    <!-- OFFCANVAS -->
