#accept-btn {
  background: #1f64a8 !important;
  border-radius:23px;
}

#info-btn {
  background: #e5da06 !important;
  border-radius:23px;
  color: white;
  font-weight: bold;
}

#reject-btn {
  background: #d62b0c !important;
  border-radius:23px;
}

#icon-info {
  color: white;
}

#icon-reject {
  color: red;
}

