#accept-btn {
  background: #1f64a8 !important;
  border-radius:23px;
  margin-left: 5px;
  &:hover {
    background: #15416d !important;
  }
}

#info-btn {
  background: #f29e0e !important;
  border-radius:23px;
  color: white;
  font-weight: bold;
  &:hover {
    background: #9e6b14 !important;
  }
}

#reject-btn {
  background: #d62b0c !important;
  border-radius:23px;
  margin-right: 5px;
  &:hover {
    background: #a22f1a !important;
  }
}

#icon-info {
  color: white;
}

#icon-reject {
  color: red;
}

